/* Open Sans h and Roboto p */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Body*/

body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 250%;
  letter-spacing: 1px;
  color: #2C97B9;
  text-shadow: 2px 2px 5px #3a3a3a;
}

h3 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 150%;
  color: #3a3a3a;
  text-decoration: underline;
}

p,
li {
  text-align: center;
  font-size: 150%;
  color: #3a3a3a;
  word-spacing: 1px;
}

ul {
  list-style-position: inside;
}

.home-text {
  padding: 30px 100px 30px;
  text-align: justify;
}

/* Nav bar */

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  background-color: #6FCDF1;
  width: 100%;
  position: relative;
  text-align: center;
}

#nav-bar li {
  display: inline-block;
}

#nav-bar a {
  display: block;
  padding: 30px 90px;
  color: white;
  text-decoration: none;
  line-height: 30px;
}

#nav-bar a:hover {
  background-color: white;
  color: #6FCDF1;
}

/* Footer */

.social-links {
  text-align: center;
}

.social-links>li {
  display: inline;
}

.social-links i {
  font-size: 180%;
  margin: 1%;
  padding: 3%;
  color: #6FCDF1;
}

footer {
  clear: both;
}

/* Hero and Homepage Image */

#hero-outer {
  position: relative;
}

#hero-image {
  height: 540px;
  width: 100%;
  background: url('../images/cover-image.png') no-repeat center center;
  background-color: #6FCDF1;
  position: relative;
}

#logo-image {
  background-image: url('../images/logo\ \(2\).png');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  animation-name: hero-zoom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.35);
  }
}

.home-div {
  display: block;
}

.home-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 350px;
  border: 1px solid #3a3a3a
}

.home-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Species images and text */

#photos {
  margin: 0 auto;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  display: inline;
  text-align: center;
}

.gallery img {
  width: 350px;
  height: 300px;
}

.shark-name {
  padding: 15px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: x-large;
}

#species-text {
  padding: 40px 100px 30px;
  border: 2px solid #6FCDF1;
  color: #3a3a3a;
  border-top: white;
}

.grow img {
  transition: 1s ease;
}

.grow img:hover {
  transform: scale(1.2);
  transition: 1s ease;
}

/* Donate Page */

#donate {
  margin: 0 auto;
  margin-left: 20%;
  margin-top: 20px;
}

#donate a:link {
  text-decoration: none;
  color: #2C97B9
}

a:visited {
  text-decoration: none;
  color: #98AFBA;
}

#donate a:hover {
  text-decoration: underline;
}

.donate-image {
  margin: 10px;
  float: left;
  width: 350px;
  display: inline;
  text-align: center;
  padding: 30px 0px 30px;
}

.donate-image img {
  width: 350px;
  height: 350px;
}

.donate-text {
  padding: 40px 100px 30px;
}


/* Facts Page */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: solid 3px #808080;
  border-style: solid;
  border-radius: 25px;
}

.grid-container h3 {
  font-size: medium;
  font-family: Roboto, sans-serif;
  color: white;
}

.grid-container p {
  font-size: small;
  color: white;
}

.grow {
  transition: 1s ease;
}

.grow:hover {
  transform: scale(1.2);
  transition: 1s ease;
}

.fact-color1 {
  background-color: #2C97B9;
}

.fact-color2 {
  background-color: #98AFBA;
}

.fact-color3 {
  background-color: #6FCDF1;
}

.fact-head {
  display: block;
}

.fact-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
}

/* Media queries */

@media screen and (max-width: 1200px) {
  #nav-bar {
    width: 100%;
  }

  #nav-bar a {
    padding: 30px 140px;
    margin: 10px;
  }

  .gallery {
    margin: 5%;
  }
}

@media screen and (max-width: 850px) {
  #nav-bar {
    width: 100%;
  }

  #nav-bar a {
    padding: 30px 160px;
    margin: 10px;
    font-size: large;
    padding-left: 30%;
    overflow-x: hidden;
  }

  .donate-image {
    padding-left: 0%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    font-size: small;
  }

}

@media screen and (max-width: 1000px) {
  .donate-image {
    padding-left: 15%;
  }

  .gallery {
    margin-left: 20%;
  }
}

@media screen and (max-width: 600px) {
  .donate-image {
    padding-left: 0;
  }

  #donate {
    padding-left: 5%;
  }
}