/* Open Sans h and Roboto p */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body*/

body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

h1, h2 {
    font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 250%;
  letter-spacing: 1px;
  color: #2C97B9;
  text-shadow: 2px 2px 5px #3a3a3a;
}

p, li {
  text-align: center;
  font-size: 150%;
  color: #3a3a3a;
  word-spacing: 1px;
}

ul {
  list-style-position: inside;
}

.home-text {
  padding: 30px 100px 30px;
  text-align: justify;
}

/* Nav bar */

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center center;
    background-color: #6FCDF1;
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  #nav-bar li {
    display: inline-block;
  }
  
  #nav-bar a {
    display: block;
    padding: 30px 90px;
    color: white;
    text-decoration: none;
    line-height: 30px;
  }

  #nav-bar a:hover {
      background-color: white;
      color: #6FCDF1;
  }

  /* Hero Image */

  #hero-outer {
    position: relative;
  }

  #hero-image {
    height: 540px;
    width: 100%;
    background: url('../images/cover-image.png') no-repeat center center;
    background-color: #6FCDF1;
    position: relative;
  }

  #logo-image {
    background-image: url('../images/logo\ \(2\).png');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.35);
    }
}

  /* Species images and text */

  #photos {
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 20px;
  }

  .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    display: inline;
    text-align: center;
  }

  .gallery img {
    width: 350px;
    height: 300px;
  }

  .shark-name {
    padding: 15px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: x-large;
  }

  #species-text {
    padding: 40px 100px 30px;
    border: 2px solid #6FCDF1;
    color: #3a3a3a;
  }

  /* Donate Page */

  #donate {
    margin: 0 auto;
    margin-left: 20%;
    margin-top: 20px;
  }

  .donate-image {
    margin: 10px;
    float: left;
    width: 350px;
    display: inline;
    text-align: center;
    padding: 30px 0px 30px;
  }

  .donate-image img {
    width: 350px;
    height: 350px;
  }

  .donate-text {
    padding: 40px 100px 30px;
  }